{% extends 'base.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}
    <h1>History</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ history.id }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ history.event }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ history.createdAt ? history.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ history.details }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_board_history_index') }}">back to list</a>

    <a href="{{ path('app_board_history_edit', {'id': history.id}) }}">edit</a>

    {{ include('board_history/_delete_form.html.twig') }}
{% endblock %}
