{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="display-4">{{ board.title }}</h1>
        </div>
        <div class="col-auto">
            {{ include('board/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="row">
        {% for step in board.steps %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h5">{{ step.title }}</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for task in step.tasks %}
                                <li class="list-group-item">
                                    <h3 class="h6">{{ task.title }}</h3>
                                    <p>{{ task.description }}</p>
                                    <ul class="list-group">
                                        {% for todo in task.listOfTodos %}
                                            <li class="list-group-item">{{ todo.title }}</li>
                                            <li class="list-group-item">{{ todo.description }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
